.musicPlayer {
    display: flex;
    position:fixed;
    bottom: 0px;
    background-color: #181818;
    width: 100%;
    height: 90px;
    flex-direction: row;
    border: 1px gray;
    justify-content: space-between;
    padding-left: 40px;
    padding-right: 40px;
    align-items: center;
    color: white;
    padding-top: 10px;
}

.audio {
    background-color: #181818;
    width: 600px;
}

audio::-webkit-media-controls-panel {
    background-color: #535353;
    width: 400px;
}

.mainInfo {
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
    column-gap: 15px;
}

.preview {
    width: 70px;
    height: 70px;
}

.settings {
    width: 330px;
}