.musicItem {
    background-color: #12121200;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
    border-radius: 4px;
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    width: 1500px;
}

.musicItem:hover {
    background-color: rgba(83, 83, 83, 0.33);
    cursor: pointer;
    transition: 0.1s;
}

.like {
    color: white;
}

.musicItem:hover .like {
    color: lime;
}

.musicItem:hover .indx {
    display: none;
}

.play {
    display: none;
    width: 30px;
}

.musicItem:hover .play {
    display: initial;
    transition: 0.1s;
}

.container {
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 20%;
}

.main {
    flex-direction: column;
    display: flex;
    gap: 8px;
    justify-content: center;
}

.main > * {
    margin: 0;
    padding: 0;
}

.indx {
    width: 30px;
}

.artist {
    font-weight: 100;
    font-size: 13px;
}

.preview {
    width: 45px;
    height: 45px;
}

.title {
    font-size: 15px;
}

.like {
    fill: white;
}

.album {
    font-size: 13px;
}
